@charset "UTF-8";
:root {
  --brand-color: #2196F3;
  --brand-black-color: #212121;
  --color-background: #FFF;
  --color-background-second: #2F303A;
  --color-text: #757575;
  --color-links: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", Arial, Helvetica, sans-serif;
  --font-logo: "Raleway", Arial, Helvetica, sans-serif;
  --main-letter-spacing: 0.03em;
  --second-letter-spacing: 0.06em;
  --icon-color-grey: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--brand-black-color);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:not(svg) {
  transform-origin: 0px 0px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: flex;
}

body {
  color: var(--brand-black-color);
  background-color: var(--color-background);
  margin: 0;
  font-family: var(--main-font);
  letter-spacing: var(--main-letter-spacing);
}

ul {
  margin: 0;
  padding: 0;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--brand-black-color);
  text-decoration: none;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo--blue {
  color: var(--brand-color);
}

.logo--light {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-background);
}

.social-links {
  display: flex;
  margin-left: 93px;
}

.social-links__item:not(:last-child) {
  margin-right: 50px;
}

.social-links__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--brand-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.social-links__link:hover, .social-links__link:focus, .social-links__link:active {
  color: var(--brand-color);
}

.social-links__link--current {
  color: var(--brand-color);
}
.social-links__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  left: 0;
  bottom: -1px;
  background-color: var(--brand-color);
  border-radius: 3px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  color: var(--brand-color);
  fill: var(--brand-color);
}

/*
.contacts__link:focus .contacts__icon,
.contacts__link:hover .contacts__icon,
.contacts__link:active .contacts__icon {
    color: var(--brand-color);
    fill: var(--brand-color);
}*/
.hero__overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-color: #C4C4C4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__section {
  height: 600px;
  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 696px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: var(--second-letter-spacing);
  color: var(--color-background);
  text-transform: uppercase;
}

/* Button Замовити послугу */
.hero__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: var(--second-letter-spacing);
  color: var(--color-background);
  background-color: var(--brand-color);
  cursor: pointer;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 270px;
  display: inline-block;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__box {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.advantages__title {
  width: 270px;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--brand-black-color);
}

.advantages__text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  color: var(--color-text);
}

.activity__section {
  padding-bottom: 94px;
}

.activity__list {
  display: flex;
  flex-wrap: wrap;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__item {
  max-width: 370px;
  position: relative;
}

.activity__box {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  padding: 27px 0 27px 0;
  text-align: center;
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

.team {
  display: flex;
  justify-content: center;
}

.team__section {
  background-color: #F5F4FA;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team__item {
  display: inline-block;
  width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--brand-black-color);
}

.team__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0 0 16px 0;
  color: var(--color-text);
}

.team__icon-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 270px;
  justify-content: center;
}

.team__icon-item:not(:last-child) {
  margin-right: 10px;
}

.team__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  fill: var(--icon-color-grey);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.team__link:hover, .team__link:focus {
  background-color: #2196F3;
  fill: #fff;
}

.partners {
  display: flex;
}

.partners__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.partners__item:hover, .partners__item:focus {
  border: 1px solid #2196F3;
}
.partners__item:not(:last-child) {
  margin-right: 30px;
}

.partners__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  fill: var(--icon-color-grey);
  transition: fill 250ms var(--timing-function);
}
.partners__link:hover, .partners__link:focus {
  fill: var(--brand-color);
}

.partners__icon {
  width: 106px;
  max-height: 92px;
}

.footer {
  background-color: var(--color-background-second);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*info*/
.info__box {
  margin-right: 70px;
}

.info {
  width: 231px;
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-background);
}

.info__item:not(:last-child) {
  display: inline-block;
  margin-bottom: 9px;
}

.info__link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-links);
  transition: color 250ms var(--timing-function);
}
.info__link:hover, .info__link:focus {
  color: var(--brand-color);
}

/*socials*/
.socials__box {
  margin-right: 93px;
}

.socials__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-background);
}

.socials {
  display: flex;
  gap: 10px;
}

.socials__link {
  /*former bottom-social-links a*/
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.socials__link:hover, .socials__link:focus, .socials__link:active {
  background-color: var(--brand-color);
}

.socials__icon {
  margin: auto;
  width: 22px;
  height: 22px;
  fill: var(--color-background);
}

/*subscription*/
.subscription__box {
  align-items: baseline;
  width: 570px;
}

.subscription__form {
  display: flex;
  align-items: flex-end;
}

.subscription__btn {
  position: relative;
  display: inline-flex;
  font-family: var(--main-font);
  width: 200px;
  height: 50px;
  padding: 10px 0 10px 28px;
  text-align: center;
  background-color: var(--brand-color);
  color: var(--color-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscription__icon {
  fill: var(--color-background);
  position: absolute;
  right: 28px;
  top: 13px;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.subscription__form-field {
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  width: 358px;
}

.subscription__label {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.subscription__input {
  outline: none;
  padding: 15px 0 15px 16px;
  height: 50px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-background);
}
.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons__item {
  display: inline-block;
}
.buttons__item:not(:last-child) {
  margin-right: 8px;
}

/*.buttons__item:not(:last-child) {
    margin-right: 8px;
}*/
.buttons__btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  background-color: #F5F4FA;
  color: var(--brand-black-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__btn:hover, .buttons__btn:focus {
  background-color: var(--brand-color);
  color: var(--color-background);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*
.buttons__btn:hover,
.buttons__btn:focus {
    background-color: var(--brand-color);
    color: var(--color-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}*/
/*examples*/
.examples {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

.examples__item {
  display: inline-block;
  width: 370px;
  border: 1px solid #EEEEEE;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:hover, .examples__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__item:nth-child(3n) {
  margin-right: 0;
}

.examples__overlay-box {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(102%);
  transition: transform 250ms var(--timing-function);
}
.examples__item:hover .examples__overlay, .examples__item:focus .examples__overlay {
  transform: translateY(0);
}

/*
.examples__item:hover .examples__overlay {
    transform: translateY(0);
}
.examples__item:focus .examples__overlay {
    transform: translateY(0);
}*/
.examples__img {
  display: block;
}

.examples__text {
  margin: 0;
  padding: 63px 24px 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-background);
}

.examples__name {
  display: inline-block;
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--second-letter-spacing);
  color: var(--brand-black-color);
}

.examples__description {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  color: var(--color-text);
}

.examples__meta {
  padding: 20px 24px;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal__backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function), scale 250ms var(--timing-function);
}

.modal__btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-background);
  cursor: pointer;
  padding: 0;
  fill: #000000;
  transition: fill 250ms var(--timing-function);
  padding: 5px;
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--brand-color);
}

/*form*/
.form {
  padding: 40px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 12px 0;
  color: #212121;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.form__input {
  outline: none;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.form__item:focus-within > .form__input {
  border: 1px solid var(--brand-color);
}
.form__item:hover .form__input, .form__item:focus .form__input {
  border: 1px solid var(--brand-color);
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*.form__item:focus-within>.form__input {
    border: 1px solid var(--brand-color);
}*/
.form__icon {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}
.form__item:focus-within > .form__icon {
  fill: var(--brand-color);
}
.form__item:hover .form__icon {
  fill: var(--brand-color);
}

.form__checkbox {
  align-items: baseline;
  justify-content: center;
  height: 24px;
  margin-top: 20px;
}

.form__policy {
  color: var(--brand-color);
  text-decoration: underline;
}

.form__checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form__checkbox-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  border-radius: 0;
}

.form__checkbox-icon {
  position: absolute;
  top: 4px;
  left: -26px;
  box-sizing: content-box;
  background-image: url(../images/icon-check-empty.svg);
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  transition: background-image 250ms var(--timing-function);
}
.form__checkbox-input:checked + .form__checkbox-icon {
  background-image: url(../images/icon-check.svg);
}

.form__textarea {
  resize: none;
  outline: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
}
.form__item:hover .form__textarea, .form__item:focus .form__textarea {
  border: 1px solid var(--brand-color);
}
.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__btn-submit {
  display: flex;
  width: 200px;
  padding: 10px 52px 10px 52px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--brand-color);
  color: var(--color-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */