:root {
    --brand-color: #2196F3;
    --brand-black-color: #212121;
    --color-background: #FFF;
    --color-background-second: #2F303A;
    --color-text: #757575;
    --color-links: rgba(255, 255, 255, 0.6);
    --main-font: 'Roboto', Arial, Helvetica, sans-serif;
    --font-logo: 'Raleway', Arial, Helvetica, sans-serif;
    --main-letter-spacing: 0.03em;
    --second-letter-spacing: 0.06em;
    --icon-color-grey: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}