.partners {
    display: flex;
}

.partners__item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms var(--timing-function);
    &:hover, &:focus {
        border: 1px solid #2196F3;
    }    
    &:not(:last-child) {
        margin-right: 30px;
    }
}
.partners__link {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;

    fill: var(--icon-color-grey);

    transition: fill 250ms var(--timing-function);
    &:hover, &:focus {
        fill: var(--brand-color);
    }
}

.partners__icon {
    width: 106px;
    max-height: 92px;
}