.team {
    display: flex;
    justify-content: center;
}

.team__section {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team__item {
    display: inline-block;

    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.team__box {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--brand-black-color);
}

.team__position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 0 0 16px 0;

    color: var(--color-text);
}

.team__icon-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 270px;
    justify-content: center;
}

.team__icon-item {
    &:not(:last-child) {
            margin-right: 10px;
        }
}

.team__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    fill: var(--icon-color-grey);

    transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

    &:hover, 
    &:focus {
        background-color: #2196F3;
        fill: #fff;
    }
}